{% extends "base.html" %}
{% load static %}

{% block title %}实物认定{% endblock %}
{% block javaScript%}<script type="text/javascript" src="{% static 'js/m.js'%}"></script>{% endblock %}

{% block menu %}
	<!--<a href="#" class="easyui-menubutton" data-options="menu:'#mm1', width:100, hasDownArrow:false" style="outline-style:double; margin-left: 15px; margin-right:15px">作业操作</a>
	<a href="#" class="easyui-menubutton" data-options="menu:'#mm2', width:100, hasDownArrow:false" style="outline-style:double; margin-right:15px">生成操作</a>-->
{% endblock %}
{% block subMenu%}
	<!--<div id="mm1" data-options="onClick:menuHandler" style="width:150px;">
		<div data-options="name:'add', iconCls:'icon-add'">开箱作业</div>
		<div class="menu-sep"></div>
		<div data-options="name:'archive', iconCls:'icon-save'">归档作业</div>
		<div class="menu-sep"></div>
		<div data-options="name:'remove', iconCls:'icon-remove'">删除作业</div>
	</div>

	<div id="mm2" data-options="onClick:menuHandler" style="width:150px;">
		<div data-options="name:'printTag', iconCls:'icon-print'">标签生成</div>
		<div class="menu-sep"></div>
		<div data-options="name:'outputConfig', iconCls:'icon-outputconfig'">信息档案生成</div>
		<div class="menu-sep"></div>
		<div data-options="name:'outputAbstractConfig', iconCls:'icon-qingdan'">装箱清单生成</div>
	</div>-->
{% endblock %}
						
{% block dialog %}
	<!-- 创建作业对话框 -->
	<div id="createWorkDlg" class="easyui-dialog" style="width:500px;height:380px;padding:10px 20px"
			data-options="closed:true, buttons:'#CreateWorkDlgButtons', modal:true">
		<div class="FormTitle">作业信息</div>
		<form id="createWorkForm" method="POST" novalidate>
			<div class="FormItem">
				<label for="createWork-productType">实物类型</label>
				<input id="createWork-productType" name="productType" class="easyui-combobox" data-options="
					valueField: 'id',
					textField: 'text',
					url: 'getProductType/',
					onSelect: function(rec){
						var url = 'getClassName/'+rec.id;
						$('#createWork-className').combobox('reload', url);
						$('#createWork-className').combobox('clear');
						$('#createWork-subClassName').combobox('clear');
					},
					editable: false,
					panelHeight: 'auto',
				">
			</div>
			<div class="FormItem">
				<label for="createWork-className">品名</label>
				<input id="createWork-className" name="className" class="easyui-combobox" data-options="
					valueField: 'id',
					textField: 'text',
					onSelect: function(rec){
						var typeCode = $('#createWork-productType').combobox('getValue');
						var url = 'getSubClassName/'+typeCode+'&'+rec.id;
						$('#createWork-subClassName').combobox('reload', url);
					},
					editable: false,
					panelHeight: 'auto',
				">
			</div>
			<div class="FormItem">
				<label for="createWork-subClassName">明细品名</label>
				<input id="createWork-subClassName" name="subClassName" class="easyui-combobox" data-options="
					valueField: 'id',
					textField: 'text',
					editable: false,
					panelHeight: 'auto',
				">
			</div>
			<div class="FormItem">
				<label for="createWork-wareHouse">发行库</label>
				<input id="createWork-wareHouse" name="wareHouse" class="easyui-combobox" data-options="
					valueField: 'id',
					textField: 'text',
					url: 'getWareHouse/',
					editable: false,
					panelHeight: 'auto',
				">
			</div>
			
			<div class="FormItem">
				<label for="createWork-boxNumber">箱号</label>
				<input id="createWork-boxNumber" name="boxNumber" class="easyui-numberbox">
			</div>
			<div class="FormItem">
				<label for="createWork-amount">件数</label>
				<input id="createWork-amount" name="amount" class="easyui-numberspinner">
			</div>
			<div class="FormItem">
				<label for="createWork-startSeq">起始序号</label>
				<input id="createWork-startSeq" name="startSeq" class="easyui-numberspinner">
			</div>
		</form>
	</div>
	<div id="CreateWorkDlgButtons">
		<a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveWork()" style="width:90px">创建</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#createWorkDlg').dialog('close')" style="width:90px">取消</a>
	</div>

	<!-- 信息档案生成对话框 -->
	<div id="outputConfigDlg" class="easyui-dialog" style="width:500px;height:380px;padding:10px 20px"
			data-options="closed:true, buttons:'#OutputConfigDlg-buttons', modal:true">
		<div class="FormTitle">信息档案生成配置</div>
		<form id="outputConfigForm" method="POST" novalidate data="onLoad:prepareDataForOutputConfig">
			<div class="FormItem">
				<label for="outputConfig-boxNumber">箱号</label>
				<input id="outputConfig-boxNumber" name="boxNumber" class="easyui-numberbox" data-options="readonly:true">
			</div>
			<div class="FormItem">
				<label for="outputConfig-className">品名</label>
				<input id="outputConfig-className" name="className" class="easyui-textbox" data-options="readonly:true">
			</div>
			<div class="FormItem">
				<label for="outputConfig-subClassName">明细品名</label>
				<input id="outputConfig-subClassName" name="subClassName" class="easyui-textbox" data-options="readonly:true">
			</div>
			<div class="FormItem">
				<label for="outputConfig-productType">实物类型</label>
				<input id="outputConfig-productType" name="productType" class="easyui-textbox" data-options="readonly:true">
			</div>
			<div style="margin-bottom:5px;">
				<label for="outputConfig-fromDate" style="display:inline-block;width:100px;">起止日期</label>
				<input id="outputConfig-fromDate" name="fromDate" class="easyui-datebox" style="" data-options="currentText:'今天', closeText:'关闭', onSelect: updateDate">
				<span>至</span>
				<input id="outputConfig-toDate" name="toDate" class="easyui-datebox" style="" data-options="currentText:'今天', closeText:'关闭', onSelect: updateDate">
			</div>
			<div class="FormItem">
				<label for="outputConfig-completeAmount">已完成件数</label>
				<input id="outputConfig-completeAmount" name="completeAmount" class="easyui-numberbox" data-options="readonly:true">
			</div>
		</form>
	</div>
	<div id="OutputConfigDlg-buttons">
		<a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="outputWork()" style="width:90px">生成</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#outputConfigDlg').dialog('close')" style="width:90px">取消</a>
	</div>
	
	<!-- 装箱清单生成对话框 -->
	<div id="outputAbstractConfigDlg" class="easyui-dialog" style="width:500px;height:380px;padding:10px 20px"
			data-options="closed:true, buttons:'#outputAbstractConfigDlg-buttons', modal:true">
		<div class="FormTitle">装箱清单生成配置</div>
		<form id="outputAbstractConfigForm" method="POST" novalidate data="onLoad:prepareDataForOutputConfig">
			<div class="FormItem">
				<label for="outputAbstractConfig-boxNumber">箱号</label>
				<input id="outputAbstractConfig-boxNumber" name="boxNumber" class="easyui-numberbox" data-options="readonly:true">
			</div>
			<div class="FormItem">
				<label for="outputAbstractConfig-amount">件数</label>
				<input id="outputAbstractConfig-amount" name="amount" class="easyui-numberbox" data-options="readonly:true">
			</div>
			<div class="FormItem">
				<label for="outputAbstractConfig-className">品名</label>
				<input id="outputAbstractConfig-className" name="className" class="easyui-textbox" data-options="readonly:true">
			</div>
			<div class="FormItem">
				<label for="outputAbstractConfig-subClassName">明细品名</label>
				<input id="outputAbstractConfig-subClassName" name="subClassName" class="easyui-textbox" data-options="readonly:true">
			</div>
			<div class="FormItem">
				<label for="outputAbstractConfig-productType">实物类型</label>
				<input id="outputAbstractConfig-productType" name="productType" class="easyui-textbox" data-options="readonly:true">
			</div>
			<div class="FormItem">
				<label for="outputAbstractConfig-date">生成日期</label>
				<input id="outputAbstractConfig-date" name="date" class="easyui-datebox" data-options="currentText:'今天', closeText:'关闭'">
			</div>
			<div class="FormItem">
				<label for="outputAbstractConfig-sequence">序号</label>
				<input id="outputAbstractConfig-sequence" name="Sequence" value="1" disabled="true">
			</div>
		</form>
	</div>
	<div id="outputAbstractConfigDlg-buttons">
		<a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="outputWork()" style="width:90px">生成</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#outputAbstractConfigDlg').dialog('close')" style="width:90px">取消</a>
	</div>
{% endblock %}

{% block additionalAttribute %}
	<input type="hidden" id="processId" value="5">
{% endblock %}