{% extends "base.html" %}
{% load static %}

{% block title %}外观信息采集{% endblock %}
{% block javaScript %}

    <script type="text/javascript" src="{% static 'js/n.js' %}"></script>{% endblock %}

{% block dialog %}
    <!-- 信息批量修改对话框 -->
    <div id="BatchUpdateInfoDlg" class="easyui-dialog" style="width:500px;height:450px;padding:10px 20px"
         data-options="closed:true, buttons:'#BatchUpdateInfoDlgButtons', modal:true, onClose:unInitBatchUpdateInfoDlg">
        <div class="FormTitle">实物信息</div>
        <form id="BatchUpdateInfoForm" method="POST" novalidate>
            <div class="FormItem">
                <label for="BatchUpdateInfo-boxNumber">箱号</label>
                <input id="BatchUpdateInfo-boxNumber" name="boxNumber" class="easyui-textbox"
                       data-options="readonly:true, editable:false">
            </div>
            <div class="FormItem">
                <label for="BatchUpdateInfo-productType">类别</label>
                <input id="BatchUpdateInfo-productType" name="productType" class="easyui-textbox"
                       data-options="readonly:true, editable:false">
            </div>
            <div class="FormItem">
                <label for="BatchUpdateInfo-className">品类</label>
                <input id="BatchUpdateInfo-className" name="className" class="easyui-textbox"
                       data-options="readonly:true, editable:false">
            </div>
            <div class="FormItem">
                <label for="BatchUpdateInfo-subClassName">品名</label>
                <input id="BatchUpdateInfo-subClassName" name="subClassName" class="easyui-textbox"
                       data-options="readonly:true, editable:false">
            </div>
            <div class="FormItem">
                <label for="BatchUpdateInfo-wareHouse">发行库</label>
                <input id="BatchUpdateInfo-wareHouse" name="wareHouse" class="easyui-textbox"
                       data-options="readonly:true, editable:false">
            </div>
             <div class="FormItem" id="batch_level">
                <label for="BatchUpdateInfo-level">等级</label>
                {# <input list="UpdateInfo-level" class="easyui-combobox" name="level" id="physical_level" data-options="editable:false,panelHeight: 'auto'"/>#}
                <select name="level" id="BatchUpdateInfo-level" data-options="valueField:'id', textField:'text',editable:false,panelHeight: 'auto'"
                        class="easyui-combobox" style="width: 305px;">
                </select><span style="color:red;margin-left: 10px;vertical-align: middle">*</span>
            </div>

            <div class="FormItem" id="batch_detailedName">
                <label for="BatchUpdateInfo-detailedName">名称</label>
                {#                <input id="UpdateInfo-detailedName" name="detailedName" class="easyui-textbox">#}
                <span style="display: inline-block;border:1px solid #95b8e7;border-radius: 6px;height: 20px;width: 300px;">
                    <input list="BatchUpdateInfo-detailedName"
                           style="border: none;margin-left: 3px;width: 295px;outline: none;" name="detailedName"
                           id="batch_detailedName"
                          />
{#                     onkeyup="changeInputValue('physical_detailedName','UpdateInfo-detailedName','detailedName')"#}
                    <datalist id="BatchUpdateInfo-detailedName">

                    </datalist>
                </span>
            </div>

            <div class="FormItem" id="batch_peroid">
                <label for="BatchUpdateInfo-peroid" >年代</label>
                {# <input list="UpdateInfo-peroid" class="easyui-combobox" name="peroid" id="physical_peroid" data-options="editable:false,panelHeight: 'auto'"/>#}
                <select name="peroid" id="BatchUpdateInfo-peroid" class="easyui-combobox"
                        data-options="valueField:'id', textField:'text',editable:false,panelHeight: 'auto'" style="width: 305px;">
                </select><span style="color:red;margin-left: 10px;vertical-align: middle">*</span>
            </div>
            <div class="FormItem" id="batch_year">
                <label for="BatchUpdateInfo-year">年份</label>
                <input id="BatchUpdateInfo-year" name="year" class="easyui-textbox"
                       data-options="editable:false,panelHeight: 'auto'">
            </div>
            <div class="FormItem" id="batch_country">
                <label for="BatchUpdateInfo-country">国别</label>
                {#                <input id="UpdateInfo-country" name="country" class="easyui-combobox"#}
                {#                       data-options="editable:false,panelHeight:'auto'">#}
                <select name="country" id="BatchUpdateInfo-country" class="easyui-combobox"
                        data-options="valueField:'id', textField:'text',editable:false,panelHeight: 'auto'" style="width: 305px;">
                </select><span style="color:red;margin-left: 10px;vertical-align: middle">*</span>

            </div>
            <div class="FormItem" id="batch_faceAmount" style="display: none;">
                <label for="BatchUpdateInfo-faceAmount">面值</label>
                {#                <input id="UpdateInfo-faceAmount" name="faceAmount" class="easyui-combobox"#}
                {#                       data-options=" editable: false, panelHeight: 'auto'">#}
                <select name="faceAmount" id="BatchUpdateInfo-faceAmount" class="easyui-combobox"
                        data-options="valueField:'id', textField:'text',editable:false,panelHeight: 'auto'" style="width: 305px;">
                </select>

            </div>
            <div class="FormItem" id="batch_dingSecification" style="display: none;">
                <label for="BatchUpdateInfo-dingSecification">规格</label>
                {#                <input id="UpdateInfo-dingSecification" name="dingSecification" class="easyui-combobox"#}
                {#                       data-options="editable: false, panelHeight: 'auto'">#}
                <select name="dingSecification" id="BatchUpdateInfo-dingSecification" class="easyui-combobox"
                        data-options="valueField:'id', textField:'text',editable:false,panelHeight: 'auto'" style="width: 305px;">
                </select>
            </div>
            <div class="FormItem"  id="batch_zhangType" style="display: none;">
                <label for="BatchUpdateInfo-zhangType">性质</label>
                {#                <input id="UpdateInfo-zhangType" name="zhangType" class="easyui-combobox"#}
                {#                       data-options="editable: false, panelHeight: 'auto'">#}
                <select name="zhangType" id="BatchUpdateInfo-zhangType" class="easyui-combobox"
                        data-options="valueField:'id', textField:'text',editable:false,panelHeight: 'auto'" style="width: 305px;">
                </select>

            </div>
            <div class="FormItem"  id="batch_shape" style="display: none;">
                <label for="BatchUpdateInfo-shape">器型</label>
                <select name="shape" id="BatchUpdateInfo-shape" class="easyui-combobox"
                        data-options="valueField:'id', textField:'text',editable:false,panelHeight: 'auto'" style="width: 305px;">
                </select>

            </div>
             <div class="FormItem"  id="batch_quality">
                <label for="BatchUpdateInfo-quality">品相</label>
                {# <input list="UpdateInfo-peroid" class="easyui-combobox" name="peroid" id="physical_peroid" data-options="editable:false,panelHeight: 'auto'"/>#}
                <select name="quality" id="BatchUpdateInfo-quality" class="easyui-combobox"
                        data-options="valueField:'id', textField:'text',editable:false,panelHeight: 'auto'" style="width: 305px;">
                </select><span style="color:red;margin-left: 10px;vertical-align: middle">*</span>
            </div>
            <div class="FormItem" id="batch_carveName">
                <label for="BatchUpdateInfo-carveName">铭文</label>
                {# <input id="UpdateInfo-carveName" name="carveName" class="easyui-textbox">#}
                <span style="display: inline-block;border:1px solid #95b8e7;border-radius: 6px;height: 20px;width: 300px;">
                    <input list="BatchUpdateInfo-carveName"
                           style="border: none;margin-left: 3px;width: 295px;outline: none;" name="carveName"
                           id="batch_carveName"
                           onkeyup="changeInputValue('physical_carveName','UpdateInfo-carveName','carveName')"/>
                    <datalist id="BatchUpdateInfo-carveName">

                    </datalist>
                </span>
            </div>
            <div class="FormItem" id="batch_originalQuantity">
                <label for="BatchUpdateInfo-originalQuantity">成色(%)</label>
                <input id="BatchUpdateInfo-originalQuantity" name="originalQuantity" class="easyui-numberbox"
                       data-options="precision:2, min:0, max:100"><span style="color:red;margin-left: 10px;vertical-align: middle">*</span>
            </div>
            <div class="FormItem" id="batch_remark">
                <label for="BatchUpdateInfo-remark">备注</label>
                <input id="BatchUpdateInfo-remark" name="remark" class="easyui-textbox" data-options="editable:false,panelHeight: 'auto'">
            </div>

        </form>
    </div>
    <div id="BatchUpdateInfoDlgButtons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveBatchUpdateInfo()"
           style="width:90px">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel"
           onclick="javascript:$('#BatchUpdateInfoDlg').dialog('close')" style="width:90px">取消</a>
    </div>

    <!-- 信息单个修改对话框 -->
    <div id="UpdateInfoDlg" class="easyui-dialog" style="width:500px;height:450px;padding:10px 20px"
         data-options="closed:true, buttons:'#UpdateInfoDlgButtons', modal:true, onClose:unInitUpdateInfoDlg">
        <div class="FormTitle">实物信息</div>
        <form id="UpdateInfoForm" method="get" novalidate>
            <div class="FormItem" id="single_serialNumber">
                <label for="UpdateInfo-serialNumber">实物编号</label>
                <input id="UpdateInfo-serialNumber" name="serialNumber" class="easyui-textbox"
                       data-options="readonly:true, editable:false">
            </div>
            <div class="FormItem">
                <label for="UpdateInfo-boxNumber">箱号</label>
                <input id="UpdateInfo-boxNumber" name="boxNumber" class="easyui-textbox"
                       data-options="readonly:true, editable:false">
            </div>
            <div class="FormItem">
                <label for="UpdateInfo-productType">类别</label>
                <input id="UpdateInfo-productType" name="productType" class="easyui-textbox"
                       data-options="readonly:true, editable:false">
            </div>

            <div class="FormItem">
                <label for="UpdateInfo-className">品类</label>
                <input id="UpdateInfo-className" name="className" class="easyui-textbox"
                       data-options="readonly:true, editable:false">
            </div>

            <div class="FormItem">
                <label for="UpdateInfo-subClassName">品名</label>
                <input id="UpdateInfo-subClassName" name="subClassName" class="easyui-textbox"
                       data-options="readonly:true, editable:false">
            </div>

            <div class="FormItem">
                <label for="UpdateInfo-wareHouse">发行库</label>
                <input id="UpdateInfo-wareHouse" name="wareHouse" class="easyui-textbox"
                       data-options="readonly:true, editable:false">
            </div>

            <div class="FormItem" id="single_level" style="display: block">
                <label for="UpdateInfo-level">等级</label>
                {# <input list="UpdateInfo-level" class="easyui-combobox" name="level" id="physical_level" data-options="editable:false,panelHeight: 'auto'"/>#}
                <select name="level" id="UpdateInfo-level" data-options="valueField:'id', textField:'text',editable:false,panelHeight: 'auto'"
                        class="easyui-combobox" style="width: 305px;">

                </select><span style="color:red;margin-left: 10px;vertical-align: middle">*</span>
            </div>

            <div class="FormItem" id="single_detailedName">
                <label for="UpdateInfo-detailedName">名称</label>
                {#                <input id="UpdateInfo-detailedName" name="detailedName" class="easyui-textbox">#}
                <span style="display: inline-block;border:1px solid #95b8e7;border-radius: 6px;height: 20px;width: 300px;">
                    <input list="UpdateInfo-detailedName"
                           style="border: none;margin-left: 3px;width: 295px;outline: none;" name="detailedName"
                           id="physical_detailedName"
                          />
{#                     onkeyup="changeInputValue('physical_detailedName','UpdateInfo-detailedName','detailedName')"#}
                    <datalist id="UpdateInfo-detailedName">

                    </datalist>
                </span>
            </div>

            <div class="FormItem" id="single_peroid" style="display: block">
                <label for="UpdateInfo-peroid">年代</label>
                {# <input list="UpdateInfo-peroid" class="easyui-combobox" name="peroid" id="physical_peroid" data-options="editable:false,panelHeight: 'auto'"/>#}
                <select name="peroid" id="UpdateInfo-peroid" class="easyui-combobox"
                        data-options="valueField:'id', textField:'text',editable:false,panelHeight: 'auto'" style="width: 305px;">
                </select><span style="color:red;margin-left: 10px;vertical-align: middle">*</span>
            </div>
            <div class="FormItem" id="single_year">
                <label for="UpdateInfo-year">年份</label>
                <input id="UpdateInfo-year" name="year" class="easyui-textbox"
                       data-options="editable:false,panelHeight: 'auto'">
            </div>
            <div class="FormItem" id="single_country" style="display: block">
                <label for="UpdateInfo-country">国别</label>
                {#                <input id="UpdateInfo-country" name="country" class="easyui-combobox"#}
                {#                       data-options="editable:false,panelHeight:'auto'">#}
                <select name="country" id="UpdateInfo-country" class="easyui-combobox"
                        data-options="valueField:'id', textField:'text',editable:false,panelHeight: 'auto'" style="width: 305px;">
                </select><span style="color:red;margin-left: 10px;vertical-align: middle">*</span>

            </div>
            <div class="FormItem" id="single_faceAmount" style="display: none;">
                <label for="UpdateInfo-faceAmount">面值</label>
                {#                <input id="UpdateInfo-faceAmount" name="faceAmount" class="easyui-combobox"#}
                {#                       data-options=" editable: false, panelHeight: 'auto'">#}
                <select name="faceAmount" id="UpdateInfo-faceAmount" class="easyui-combobox"
                        data-options="valueField:'id', textField:'text',editable:false,panelHeight: 'auto'" style="width: 305px;">
                </select>

            </div>
            <div class="FormItem" id="single_dingSecification" style="display: none;">
                <label for="UpdateInfo-dingSecification">规格</label>
                {#                <input id="UpdateInfo-dingSecification" name="dingSecification" class="easyui-combobox"#}
                {#                       data-options="editable: false, panelHeight: 'auto'">#}
                <select name="dingSecification" id="UpdateInfo-dingSecification" class="easyui-combobox"
                        data-options="valueField:'id', textField:'text',editable:false,panelHeight: 'auto'" style="width: 305px;">
                </select>
            </div>
            <div class="FormItem" id="single_zhangType" style="display: none;">
                <label for="UpdateInfo-zhangType">性质</label>
                {#                <input id="UpdateInfo-zhangType" name="zhangType" class="easyui-combobox"#}
                {#                       data-options="editable: false, panelHeight: 'auto'">#}
                <select name="zhangType" id="UpdateInfo-zhangType" class="easyui-combobox"
                        data-options="valueField:'id', textField:'text',editable:false,panelHeight: 'auto'" style="width: 305px;">
                </select>

            </div>
            <div class="FormItem" id="single_shape" style="display: none;">
                <label for="UpdateInfo-shape">器型</label>
                <select name="shape" id="UpdateInfo-shape" class="easyui-combobox"
                        data-options="valueField:'id', textField:'text',editable:false,panelHeight: 'auto'" style="width: 305px;">
                </select>

            </div>
             <div class="FormItem" id="single_quality">
                <label for="UpdateInfo-quality">品相</label>
                {# <input list="UpdateInfo-peroid" class="easyui-combobox" name="peroid" id="physical_peroid" data-options="editable:false,panelHeight: 'auto'"/>#}
                <select name="quality" id="UpdateInfo-quality" class="easyui-combobox"
                        data-options="valueField:'id', textField:'text',editable:false,panelHeight: 'auto'" style="width: 305px;">
                </select><span style="color:red;margin-left: 10px;vertical-align: middle">*</span>
            </div>

            <div class="FormItem" id="single_carveName">
                <label for="UpdateInfo-carveName">铭文</label>
                {# <input id="UpdateInfo-carveName" name="carveName" class="easyui-textbox">#}
                <span style="display: inline-block;border:1px solid #95b8e7;border-radius: 6px;height: 20px;width: 300px;">
                    <input list="UpdateInfo-carveName"
                           style="border: none;margin-left: 3px;width: 295px;outline: none;" name="carveName"
                           id="physical_carveName"
                           onkeyup="changeInputValue('physical_carveName','UpdateInfo-carveName','carveName')"/>
                    <datalist id="UpdateInfo-carveName">

                    </datalist>
                </span>
            </div>
            <div class="FormItem" id="single_originalQuantity">
                <label for="UpdateInfo-originalQuantity">成色(%)</label>
                <input id="UpdateInfo-originalQuantity" name="originalQuantity" class="easyui-numberbox"
                       data-options="precision:2, min:0, max:100"><span style="color:red;margin-left: 10px;vertical-align: middle">*</span>
            </div>
            <div class="FormItem" id="single_remark">
                <label for="UpdateInfo-remark">备注</label>
                <input id="UpdateInfo-remark" name="remark" class="easyui-textbox" data-options="editable:false,panelHeight: 'auto'">
            </div>
        </form>
    </div>
    <div id="UpdateInfoDlgButtons">
        <a id="editBtn" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit"
           onclick="editUpdateInfo()" style="width:90px">编辑</a>
        <a id="saveBtn" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok"
           onclick="saveUpdateInfo()" style="width:90px">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="closeUpdateInfo()"
           style="width:90px">取消</a>
    </div>
{% endblock %}

{% block additionalAttribute %}
    <input type="hidden" id="processId" value="2">
{% endblock %}