<!DOCTYPE html>
{% load static %}

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="{% static 'js/jquery-easyui-1.4.5/themes/default/easyui.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'js/jquery-easyui-1.4.5/themes/icon.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'js/jquery-easyui-1.4.5/themes/color.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'js/jquery-easyui-1.4.5/demo/demo.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css'%}">
	<script type="text/javascript" src="{% static 'js/jquery-easyui-1.4.5/jquery.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-easyui-1.4.5/jquery.easyui.min.js'%}"></script>
	<script type="text/javascript">
		$.ajaxSetup({
			  data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
			});
			
		/*$(function(){
			$('#updatePassword-passWord').textbox('textbox').blur(validatePassword);
		});*/
		
		function update(){
			user = $('#updatePassword-userName').combobox('getText');
			oldPwd = $('#updatePassword-oldPassWord').textbox('getValue');
			newPwd = $('#updatePassword-newPassWord').textbox('getValue');
			confirm = $('#updatePassword-confirm').textbox('getValue');
			
			validateUser();
			validateOldPassword();
			validateNewPassword();
			validateConfirm();
			if (user == '' || oldPwd == '' || newPwd == '' || confirm == ''){
				return ;
			}
			
			// 判断新密码与确认是否一致
			if (!validateIsEqual()){
				return ;
			}
			
			// 登录
			$.post(
				'{% url "updatePassword" %}',
				{userName:user, passWord:newPwd, oldPassWord:oldPwd, fromLoc: 'login'},
				function(result){
					$.messager.alert({    // 显示失败信息
						title: '提示',
						msg: result.message,
						fn: function(){
							url = window.location.protocol+'//';
							url = url+window.location.host+'{% url "login" %}';
							window.location.replace(url);
						}
					});
				}, 'json');
		}
		
		function validateUser(){
			user = $('#updatePassword-userName').combobox('getText');
			if (user == ''){
				$('#updatePassword-userName-tip').attr('style', 'color:#ff0000');
			}
			else{
				$('#updatePassword-userName-tip').attr('style', 'display:none;color:#ff0000');
			}
		}
		
		function validateOldPassword(){
			pwd = $('#updatePassword-oldPassWord').textbox('getValue');
			if (pwd == ''){
				$('#updatePassword-oldPassWord-tip').attr('style', 'color:#ff0000');
			}
			else{
				$('#updatePassword-oldPassWord-tip').attr('style', 'display:none;color:#ff0000');
			}
		}
		
		function validateNewPassword(){
			pwd = $('#updatePassword-newPassWord').textbox('getValue');
			if (pwd == ''){
				$('#updatePassword-newPassWord-tip').attr('style', 'color:#ff0000');
			}
			else{
				$('#updatePassword-newPassWord-tip').attr('style', 'display:none;color:#ff0000');
			}
		}
		
		function validateConfirm(){
			pwd = $('#updatePassword-confirm').textbox('getValue');
			if (pwd == ''){
				$('#updatePassword-confirm-tip').attr('style', 'color:#ff0000');
			}
			else{
				$('#updatePassword-confirm-tip').attr('style', 'display:none;color:#ff0000');
			}
		}
		
		function validateIsEqual(){
			pwd = $('#updatePassword-newPassWord').textbox('getValue');
			confirm = $('#updatePassword-confirm').textbox('getValue');
			if (pwd != confirm){
				$('#updatePassword-confirm-tip').attr('style', 'color:#ff0000');
				return false;
			}
			else{
				$('#updatePassword-confirm-tip').attr('style', 'display:none;color:#ff0000');
				return true;
			}
		}
	</script>
	
	<title>更改密码</title>
</head>
<body style="text-align:center;">
	<div style="margin-top:40px;margin-bottom:10px;margin-left:auto;margin-right:auto;">
		<label for="updatePassword-userName" style="display:inline-block;margin-right:10px;width:50px;font-size:16px;font-family:sans-serif">用&nbsp;&nbsp;&nbsp;&nbsp;户</label>
		<input id="updatePassword-userName" name="userName" class="easyui-combobox" style="width:280px;height:40px;padding:12px" data-options="
			prompt:'请选择',
			valueField: 'id',
			textField: 'text',
			url: '{% url 'getAllUser' %}',
			onSelect: function(rec){
				$('#updatePassword-workRole').combobox('clear');
			},
			panelHeight: 'auto',
			onChange: validateUser,
		">
		<label id="updatePassword-userName-tip" style="display:none;color:#ff0000">用户不能为空！</label>
	</div>
	<div style="margin-bottom:10px;margin-left:auto;margin-right:auto;">
		<label for="updatePassword-oldPassWord" style="display:inline-block;margin-right:10px;width:50px;font-size:16px;font-family:sans-serif">旧&nbsp;密&nbsp;码</label>
		<input id="updatePassword-oldPassWord" name="oldPassWord" class="easyui-textbox" type="password" style="width:280px;height:40px;padding:12px" data-options="iconCls:'icon-lock', iconWidth:38,
			onChange: validateOldPassword,
		">
		<label id="updatePassword-oldPassWord-tip" style="display:none;color:#ff0000">密码不能为空！</label>
	</div>
	<div style="margin-bottom:10px;margin-left:auto;margin-right:auto;">
		<label for="updatePassword-newPassWord" style="display:inline-block;margin-right:10px;width:50px;font-size:16px;font-family:sans-serif">新&nbsp;密&nbsp;码</label>
		<input id="updatePassword-newPassWord" name="newPassWord" class="easyui-textbox" type="password" style="width:280px;height:40px;padding:12px" data-options="iconCls:'icon-lock', iconWidth:38,
			onChange: validateNewPassword,
		">
		<label id="updatePassword-newPassWord-tip" style="display:none;color:#ff0000">密码不能为空！</label>
	</div>
	<div style="margin-bottom:10px;margin-left:auto;margin-right:auto;">
		<label for="updatePassword-confirm" style="display:inline-block;margin-right:10px;width:50px;font-size:16px;font-family:sans-serif">确&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;认</label>
		<input id="updatePassword-confirm" name="confirm" class="easyui-textbox" type="password" style="width:280px;height:40px;padding:12px" data-options="iconCls:'icon-lock', iconWidth:38,
			onChange: validateConfirm,
		">
		<label id="updatePassword-confirm-tip" style="display:none;color:#ff0000">密码不能为空！</label>
	</div>
	<div style="width:350px;margin-bottom:20px;margin-left:auto;margin-right:auto;">
		<a href="#" onclick="update()" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" style="padding:5px 0px;width:100%;">
			<span style="font-size:14px;">更&nbsp;&nbsp;&nbsp;&nbsp;改</span>
		</a>
	</div>
</body>
</html>